:root {
    --color-primary: #253442;
    --color-primary-outline: rgb(37 52 66 / 25%);
    --color-error-input: #E12644;
    --color-error-placeholder: rgb(225 38 68 / 60%);
    --color-border-input: #D3DFEA;
}
