.btn-page{
  &.btn {
      padding: 13px 26px;
      background: #213e75 !important;
      border: 1px solid #213e75;
      text-align: center;
      font-size: 14px;
      @media (min-width:768px) {
        padding: 13px 60px;
        width: 249px;
    }
  }
  text-align: center;
  margin: 20px 0 0 8px;
  background: #213e75;
  border-radius: 7px;
  color: #fbfbfc;
  font-weight: 700; 
  padding: 13px 26px;
  font-size: 14px;
  transition: .3s all;
  display: inline-block;
  border: 1px solid #213E75;
  @media (min-width: 768px) {
    padding: 13px 60px;
    width: 249px;
  }
  &:hover , &:focus , &:active {
    opacity: 0.6;
    transition: .3s all;
    background: #213e75;
    color: #fff;
  }
  &--highlight {
      background:#253442;
      &:hover , &:focus , &:active {
        background: #253442;
      }
      &.btn {
        padding: 13px 26px;
        border: 1px solid #253442;
        background: #253442 !important;
        font-size: 14px;
        @media (min-width:992px) {
          padding: 13px 60px;
      }
    }
  }
  &--custom {
    background: #fff;
    border: 1px solid #7f93a5;
    border-radius: 7px;
    color: #7f93a5;
      &:hover , &:focus , &:active { 
        background: #fff;
        color: #7f93a5;
    }
    &.btn {
      border: 1px solid #7f93a5;
      background: #fff !important;
      color: #7f93a5;
      &:hover , &:focus , &:active {
        border: 1px solid #7f93a5;
        background: #fff;
        color: #7f93a5;
      }
      @media (min-width:992px) {
        padding: 13px 60px;
        color: #7f93a5;
      }
    }
  }
  &--hide {
    display: none;
  }
}
