.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  margin: 22px 0 22px;
  @media (min-width:768px) {
    margin: 22px 0 22px 32px;
  }
    input { 
      opacity: 0;
      width: 0;
      height: 0;
      &:disabled {
        opacity: 0;
      } 
    }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
    &:before {
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    &.active {
      background-color: #253442;
      &:before {
        transform: translateX(16px);
      }
    }
  &.round {
    border-radius: 34px;
    &:before {
      border-radius: 50%;
    }
  }
}

input {
  &:checked + .slider {
    background-color: #253442;
  }

  &:focus + .slider {
    box-shadow: 0 0 1px #253442;
  }

  &:checked + .slider:before {
    transform: translateX(16px);
  }
  &[type='checkbox'] {
    &:disabled {
      opacity: 0 !important;
    }
  }
}

.block-item--product__tabs  {
  input {
    &[type='checkbox'] {
      &:disabled {
        opacity: 1 !important;
      }
    }
  }
}

_::-webkit-full-page-media, _:future, :root .form-select {
  input {
    &[type='checkbox'] {
      &:disabled {
        opacity: 0 !important;
      }
    }
  }
}

.images-text {
  border-radius: 7px;
  color: #fff;
  display: inline-block;
  padding: 4px 8px;
  cursor: pointer;
  border: 1px solid #253442;
  background: #253442 !important;
  font-size: 14px;
  input {
    display: none;
  }
}