.table-block {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.admin-layout {
  table.table {
    @media (min-width:768px) {
      width:700px;
    }
    @media (min-width:991px) {
      width:923px;
    }
    @media (min-width:1024px) {
      width:887px;
    }
    @media (min-width:1600px) {
      width: 1220px;
    }
  }
}
table {
  &.table {
    border-collapse: collapse;
    width:740px;
    margin: auto;
    text-align: center;
    @media (min-width:991px) {
      width: 957px;
    }
    @media (min-width:1024px) {
      width: 998px;
    }
    @media (min-width:1300px) {
      width: 957px;
    }
    @media (min-width:1600px) {
      width: 1230px;
    }
    th {
      padding: 24px 0;
      text-align: center;
      background-color: #fff;
      color: #253442;
      font-weight: 700;
      font-size: 18px;
      border-bottom:1px solid #d3dfea;
    }

    td {
      border-bottom:1px solid #d3dfea;
      padding: 35px 0;
      color: #253442;
      font-weight: 700;
      font-size: 18px;
      word-break: break-all;
      white-space: break-spaces;
      &.columns-custom {
        text-align: left;
        padding-left: 30px;
        word-break: break-all;
        white-space: break-spaces;
      }
    }

    .table-custom {
      width: 100px;
      @media (min-width: 1920px) {
        width: 200px;
      }
    }

    .table-style , .table-highlight {
      width: 200px;
      @media (min-width: 1920px) {
        width: 250px;
      }
    }

    tr {
      td {
        &:hover {
          cursor: pointer;
          color: #213E75
        }
      }
    }

    &-custom , &-highlight , &-style {
      width: 200px;
    }

    @media (min-width: 768px) {
      .table {
        width: 100%;
      }
    }
  }
}

.block-item.block-item--product {
  .table {
    width:750px;
    @media (min-width: 768px) {
      width: 734px;
    }
    @media (min-width:991px) {
      width: 957px;
    }
    @media (min-width:1024px) {
      width: 992px;
    }
    @media (min-width:1400px) {
      width: 1240px;
    }
  }
}

table th.table-first {
  text-align: left;
  padding-left: 35px;
}